{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h2 class="mt-3">{{ user.prenom}} {{ user.nom }}</h2>

    <div class="row justify-content-between">

        <div class="col-md-3">
            <div class="imgprofil rounded-circle">
                <img src="{{ asset('images/' ~ user.photo) }}" alt="" class="rounded-circle" width="100%">
            </div>
            <br>
            {% if app.user == user %}


            <a type="button" class="btn btn-link" href="{{ path('app_profil_edituser', {'id': user.id}) }}">
                Modifier le profil
            </a>

            {% endif %}

            <div class="mt-3">
                <h5>
                    <a href="{{ path('app_amis_index',{'id': user.id}) }}">Amis</a>
                </h5>
                <div class="row justify-content-between">
                    <div class="col-12">
                        {% for ami in user.amis %}
                        <div class="vignette m-1">
                            <img src="{{ asset('images/' ~ ami.suivi.photo) }}" alt="..." width="100%">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h5>
                    {#********* album photo**************** #}
                    <a href="{{ path('app_photo_index') }}">Album photo</a>
                </h5>
                <div class="row justify-content-start">
                    <div class="col-12">
                        {% for photo in user.photos  %}
                        <div class="vignette m-1">
                            <img src="{{ asset('images/' ~ photo.image) }}" alt="..." width="100%">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <div class="bio">
                <h3>Présentation</h3>
                <p class="text-justify">{{ user.bio|nl2br }}</p>

            </div>

            {#les publications(articles)#}
            <div class="mt-5">
                <div class="container" id="articles">
                    <div class="row">
                        <button type="button" class="btn btn-primary publier" data-toggle="modal" data-target="#createPublication">
                            Créer une publication
                        </button>
                    </div>

                    {% for article in user.articles %}
                        <div class="row mb-4 border pt-2" id="article{{ article.id }}">
                            <div class="col-6">
                                {% if article.auteur.photo is null %}
                                    <img src="http://miner8.com/en/wp-content/uploads/2017/06/Alexandra_Daddario_2016-e1497505927225.jpg" alt="" width="50">
                                {% else %}
                                    <img src="{{ asset('images/' ~ article.auteur.photo) }}" alt="" width="50">
                                {% endif %}
                                <a href="#">{{ article.auteur.prenom }}</a><br>
                                à <em>{{ article.datePublication | date('h:m d/m/Y') }}</em>
                            </div>
                            {% if app.user == user %}
                            <div class="col-6 text-right">
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item update-article" data-toggle="modal" data-target="#createPublication" data-article="{{ article.id }}" href="#">Modifier</a>
                                        <a class="dropdown-item delete-article" data-article="article{{ article.id }}" href="{{ path('app_profil_delete',{'id':article.id}) }}">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12 contenu pb-3">
                                {{ article.contenu }}
                            </div>
                            <div class="col-12 image pb-3">
                                {% if article.image is not null %}
                                    <img src="{{  asset('images/' ~ article.image) }}" alt="" class="img-fluid" width="200">
                                {% endif %}
                            </div>

                            <div class="commentaires col-12 border-top pt-2 pb-2">
                                <div class="commenter">
                                    <small>Commenter :</small>
                                    <form action="{{ path('app_commentaire_index',{'id':article.id}) }}" method="post" class="formcommentaire">
                                        <input type="text" name="commentaire">
                                        <input type="hidden">
                                        <button type="submit" class="btn btn-primary">Publier</button>
                                    </form>
                                </div>

                                    <div id="touscommentaires">
                                        {% for comment in article.commentaires %}
                                        <div>
                                            <small>À {{ comment.datePublication|date('H:i d/m/Y') }}</small><br>
                                            <div class="vignette">
                                                {% if comment.auteur.photo is null %}
                                                    <img src="http://miner8.com/en/wp-content/uploads/2017/06/Alexandra_Daddario_2016-e1497505927225.jpg" alt="" width="50" height="50">
                                                {% else %}
                                                    <img src="{{ asset('images/' ~ comment.auteur.photo) }}" alt="" width="50">
                                                {% endif %}
                                            </div>
                                            <strong><a href="{{ path('app_profil_index',{'id':comment.auteur.id}) }}">{{ comment.auteur.prenom }} {{ comment.auteur.nom }}</a></strong> a écrit : {{ comment.contenu }}<br>
                                        </div><br>
                                        {% endfor %}
                                    </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>

</div>

    <!-- Modal pour les publications(articles)-->
    <div class="modal fade" id="createPublication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer une publication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        {{ form_start(formp) }}
                        {{ form_row(formp.contenu) }}
                        {{ form_row(formp.image) }}
                        <p id="counter"><em>0</em> caractère(s)</p>
                        <button type="submit" class="btn btn-primary">Publier</button>
                        {{ form_end(formp) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
