{% extends 'base.html.twig' %}

{% block title %}Ma liste d'amis{% endblock %}

{% block body %}

    <h1 class="mt-2">Liste d'amis de {{ user.prenom }} {{ user.nom }}</h1>

    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th>Image</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            {% if user == app.user %}
            <th scope="col" width="200px">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
     {% for ami in user.amis %}
        <tr>
            <td><a href="{{ path('app_profil_index',{'id':ami.suivi.id}) }}"><img src="{{ asset('images/' ~ ami.suivi.photo) }}" alt="{{ ami.suivi.prenom }}" width="100"></a></td>
            <td><a href="{{ path('app_profil_index',{'id':ami.suivi.id}) }}">{{ ami.suivi.prenom }}</a></td>
            <td><a href="{{ path('app_profil_index',{'id':ami.suivi.id}) }}">{{ ami.suivi.nom }}</a></td>


            {% if user == app.user %}
            <td>
                <a href="{{ path('app_amis_unfollow', {'id': ami.suivi.id}) }}" class="del-friend mr-5">
                    <i class="fas fa-user-minus"></i>
                </a>
                <a href="{{ path('app_message_index', {'id': ami.suivi.id}) }}"><i class="fas fa-comments"></i></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
