{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
    {{ form_row(form.prenom) }}
        </div>
        <div class="col-md-6">
    {{ form_row(form.nom) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
    {{ form_row(form.email) }}
        </div>
        <div class="col-md-6">
    {{ form_row(form.date_de_naissance) }}
        </div>
    </div>
    {{ form_row(form.plainPassword) }}
    <div class="text-right">
        <button type="submit" class="btn btn-outline-primary">
            S'inscrire
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
