{% for message in messages  %}
        <div class="col-12 mb-3" data-id="{{ message.id }}">

            <a href="{{ path('app_profil_index',{'id':message.auteur.id}) }}" class="h5">{{ message.auteur }}</a>
            ({{ message.datePublication|date('d/m/Y H:i:s') }}) :

            <p class="text-justify">
                {{ message.contenu|nl2br }}
            </p>
        </div>
{% endfor %}



